In urma testarii am observt urmatoarele:

- nu am luat in calcul impartirea la 0, acum utilizatorul primeste o avertizare in momentul in care incrca sa imparta la 0
- am observat si faptul ca poate introduce expresii invalide